li {
    height: 3em;
    background-color: #00000040;
    margin-bottom: .125em;
}
.guide {
    margin-top: 2em;
}
.guide-channel {
    width: 120px;
    height: 100%;
    text-align: center;
    border-right: .125em solid #202020;
    position: relative;
}
.guide-label {
    font-weight: normal;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
    color: var(--accent-white);
}
.guide-program {
    font-weight: normal;
    margin: 0;
    position: relative;
    top: -50%;
    transform: translate(0,-50%);
    text-align: left;
    margin-left: 136px;
}
.guide-number {
    font-weight: normal;
    margin: 0;
    position: relative;
    top: 0%;
    transform: translate(0,-50%);
    text-align: left;
    padding: 0 4px;
}
li::marker {
    color: transparent;
}

.channel-image {
    height: 48px;
    width: auto;
}