* {
    font-family: "Proxima Nova", sans-serif;
    color: white;
    --accent: #6CE8F7;
    --accent-white: #D2EAED;
}
body {
    background-color: #202020;
    margin: 0;
    
}
.main {
    margin: auto;
    text-align: left;
    margin: 7.5em 10em;
}
header {
    height: 2em;
    z-index: 1001;
    padding: .75em;
    width: 100%;
    border-bottom: 1px solid #ffffff40;
    background-color: #101010;
    position: fixed;
    top: 0;
    left: 50;
}
.hero-image {
    height: 11.25em;
}
@font-face {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: lighter;
    src: url(assets/fonts/Proxima\ Nova\ Thin.otf) format('otf');
}
@font-face {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/ProximaNova-Regular.otf) format('otf');
}
@font-face {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: bold;
    src: url(assets/fonts/Proxima\ Nova\ Bold.otf) format('otf');
}
h2 {
    margin-bottom: .25em;
}
h4 {
    color: #ffffff80;
    font-weight: normal;
    margin-top: .25em;
}
.headerlogo {
    height: 2em;
}

a {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    transition: 0.25s;
}
a:hover {
    color: var(--accent)
}

.hidden {
    display: none;
}